@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #27272A;
  color: white;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spin {
  -moz-appearance: textfield;
  appearance: textfield;
}
